.main-navbar {
    background: #ffc107;
    font-size: 12pt;
}
.form-control {
    font-size: 12pt
}
.navbar {
    padding: .1rem 1rem;
}
.navbar-brand {
    padding: 0;
}

nav .logo {
    width: 80px;
    height: 58px;
}

nav input {
    width: 100%;
}

.carousel-item img {
    max-height: 90vh;
}

.second-section {
    background: black;
}

.best-section {
    background: black;
}

.card {
    border: none;
    border-radius: 0;
}

.best-section .card-body {
    background: black;
}
.nav-item {
    color: black;
}
@media screen and (max-width: 440px) {
    #big-papa-text-nav {
        display: none;
    }
}
.active {
    color: black;
}
.fa {
    font-size: 16pt;
}


.call-phone {
    width: 50px;
    margin: 0 5px 0 0;
    cursor: pointer;
}
.call-phone img {
    background: #ffc107;
    border: 1px black solid;
    border-radius:3px;
    padding: 5px
}

