nav {
    background: #ffc107;
    font-size: 12pt;
}
.form-control {
    font-size: 12pt
}
.navbar {
    padding: .1rem 1rem;
}
.navbar-brand {
    padding: 0;
}

nav .logo {
    width: 80px;
    height: 58px;
}

nav input {
    width: 100%;
}

.carousel-item img {
    max-height: 90vh;
}

.second-section {
    background: black;
}

.best-section {
    background: black;
}

.card {
    border: none;
    border-radius: 0;
}

.best-section .card-body {
    background: black;
}